*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}
html{
    scrollbar-width: none;
}
body{
    background-color: #222831;
    color: #ffffff;
}
.encabezado-datos{
   display: flex;
    margin: 0px;
    padding: 0px;
   box-shadow: 0px 2px 7px black;
  
}
.nombre{
  display: flex;
  margin: 0px;
  padding: 0px;
  width:250px;
  text-align: left;
   justify-content: left;
  
}

.Nombre{
    text-align: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    color: rgb(11, 241, 172);
    font-size: 30px;
  
}
.Botones{
    position: relative;
    margin: 10px;
    padding: 10px;
    margin-left: 380px;
  
    
   
   
}
.Botones-encabezado{
    width: auto;
    height: 50px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background: transparent;
    margin-left: 8px;
    box-shadow: 0px 2px 5px #5198ce7c;
    text-align: center;
    margin-bottom: 10px;


}

.Botones-encabezado:hover{
    width: auto;
    height: 50px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #017d48;
    background: transparent;
    box-shadow: 0px 2px 5px #017d48;

}

.Contenido-informacion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Inicio-datos{
    border-radius: 0.5em;
    margin: 10px;
    padding: 25px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #02020221;
    box-shadow: 0 5px 7px rgba(23, 124, 160, 0.384);
}
.Perfil {
    display: flex; /* Usa flexbox para alinear elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    flex-direction: column; /* Apila los elementos verticalmente */
}

.Perfil h2{
    padding: 10px;
    margin: 10px;
    font-size: 30px;
  
}

.Foto-circular {
    width: 150px; /* Ajusta el ancho según tu diseño */
    height: 150px; /* Ajusta la altura según tu diseño */
    border-radius: 50%; /* Hace que el borde sea redondeado para crear un círculo */
    overflow: hidden; /* Oculta cualquier parte de la imagen que esté fuera del círculo */
    margin: 0 auto; /* Centra el div horizontalmente */
    
}
.Foto-circular img {
    width: 100%; /* Asegura que la imagen llene completamente el contenedor circular */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción de la imagen */
    display: block; /* Evita el espacio adicional debajo de la imagen */
}

.Redes{
    display: flex;
    padding: 20px;
    margin: 10px;
    
}
.Redes a{
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}
.Redes a i{
    font-size: 30px;
    color: #FFF;
    
    
}
.Redes a i:hover{
    font-size: 30px;
    color: #1fcb1682;
    
    
}

img{
    width: 20px;
}


.Informacion h3{
    text-align: center;
}

.acerca{
    text-align: center;
    
}

.Informacion p{
   
   margin: 10px;
   padding: 10px;
  
}
.Datos-personales{
   
    display: flex;
   
}
.Datos{
width: auto;
margin: 10px;
padding: 10px;

    margin-right:50px ;
}
.Datos_Titulo{
    margin:0px;
    
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.etiqueta {
    width: 150px; /* Ajusta la longitud fija para las etiquetas */
    display: inline-block;
    text-align: left;
    
    color: #017d48;
}

.valor {
    margin-left: 20px; /* Espacio entre la etiqueta y el valor */
   
}

.Intereses{
    display: flex;
    margin-left: 250PX;
    padding: 0PX;
    flex-direction: column;
    
}
.Interes_Titulo{
    margin: 10px;

}
.Interes_Iconos{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Aquí especificamos que habrá 2 columnas */
    margin-top: 10px;
    padding: 10px;
   
    width: 350px;

}
.Interes_Iconos h4{
    border-radius: 0.5em;
    cursor: pointer;
    text-align: center;
    align-items: center;
    margin: 10px;
    box-shadow: 0px 2px 5px black;
}
.Interes_Iconos h4:hover{
    cursor: pointer;
    text-align: center;
    align-items: center;
    margin: 10px;
    background-color: #017d48;
}
.Interes_Iconos h4 i{
    color: #fcfcfc;
    font-size: 50px;
    margin: 20px;
 
   
}

























.Habilidades{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Habilidades-Titulo{
    padding: 10px;
    margin: 10px;
}
.Habilidades-Actuales{
    display: flex;
   
    align-items: center;
    justify-content: center;

}

.Habilidades-Tecnicas{
    
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    
}
.Habilidades-Tecnicas-Lenguajes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 

}
.Habilidades-Tecnicas-Lenguajes h2 i{
    font-size: 70px;
    margin: 20px;
    color: #fff;
}
.Habilidades-Tecnicas-Lenguajes h2 img{
    width: 70px;
    margin: 20px;
    color: #fff;
}
.Habilidades-Tecnicas-Lenguajes h2{
   
    border-radius: 0.5em;
    cursor: pointer;
    width: 130px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 2px 5px black;
}
.Habilidades-Tecnicas-Lenguajes h2:hover{
    
    cursor: pointer;
    width: 130px;
    margin: 10px;
    background-color: #017d48;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Herramientas{
   
    display: flex;
    margin: 10px;
    margin-left: 50px;
    padding: 10px;
    flex-direction: column;

}
.Herramientas_Iconos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 10px;

}
.Herramientas_Iconos h2{
    border-radius: 0.5em;
    cursor: pointer;
    width: 130px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 2px 5px black;
}
.Herramientas_Iconos h2:hover{
    border-radius: 0.5em;
    cursor: pointer;
    width: 130px;
    margin: 10px;
    background-color: #017d48;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 2px 5px black;
}
.Herramientas_Iconos h2 i{
    font-size: 70px;
    margin: 20px;
}
.Herramientas_Iconos h2 img{
    width: 70px;
    margin: 20px;
}














.Principal-Card{
    display: flex;
    flex-direction: column;
    text-align: center;
    

}
.Card-Contenido-Proyectos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.Card-img{
    width:280px;
    height: 150px;
    background-size: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.Card-contenedor{
   border-radius: 0.5em;
   margin: 10px;
   padding: 10px;
   text-align: center;
   
}
.Card-Proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #4c6a9786;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding-bottom: 15px;
    margin-top: -4px;

  
}
.Card-Iconos{
    margin: 10px;
    text-align: center;
    margin-top: 30px;
}
.Card-Iconos a i{
    font-size: 25px;
    color: #fff;
    margin: 10px;
}
.Card-Iconos a i:hover{
    font-size: 25px;
    color: #fff;
    margin: 10px;
    background-color: #017d48;
    border-radius: 50%;
}
.Descripcion{
    margin-top: 10px;
    width: 250px;
    text-align: justify;
    height: 110px;

}













  






.Contacto-Principal{
    display: flex;
    flex-direction: column;
}
.Contacto-datos-enviar{
    display: flex;
   
    margin-top: 25px;

}
.Datos-Contacto{
    box-shadow: 0px 1px 7px rgb(4, 4, 4);
    margin-rigth: 20px;
    padding: 20px;
    width: auto;
}
.Datos-Contacto h5 span{
    color: #017d48;
    gap: 5px;
}
.Datos-Contacto h5 i{
    margin-right:10px;
    font-size: 20px;
}
.Datos-Contacto h5{
    width: auto;
    margin: 10px;
    
    gap: 5px;
}


.Datos-enviar{
    box-shadow: 0px 2px 5px black;
    margin-left: 10px;
    padding: 20px;

}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
.Nombre-enviar{
    display: flex;
    margin-top: 10px;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    text-align: left;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-shadow: 0px 2px 5px black;
}
input{
    border: none;
    border-radius: 30px;
    background: transparent;
    width: 180px;
    height: 30px;
    
   list-style: none;
   border-style: none;
   outline: none;



}

.Mensaje-enviar{
    height: 100px;
    display: flex;
    margin-top: 10px;
    width: 250px;
    border-radius: 20px;
    text-align: left;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-shadow: 0px 2px 5px black;

}
.Mensaje-input{

    height: 100px;
    border: none;
    border-radius: 30px;
    background: transparent;
    width: 180px;
    height: 30px;
    
   list-style: none;
   border-style: none;
   outline: none;

}
.Boton-enviar{
    width: auto;
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFF;
    box-shadow: 0px 2px 5px rgba(57, 52, 195, 0.529);
    border-radius: 0.5em;

}



.Boton-enviar:hover{
    width: auto;
    height: 52px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #017d48;
    background: transparent;
    box-shadow: 0px 2px 5px #017d48;

}